
<!--


-->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Book User</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'book_user/img/favicon.png'  %}" rel="icon">
  <link href="{% static 'book_user/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'book_user/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'book_user/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'book_user/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'book_user/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'book_user/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="{% static 'book_user/css/variables.css' %}" rel="stylesheet">
  <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="{% static 'book_user/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: HeroBiz - v2.1.0
  * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="">Home</a></li>
          <li><a class="nav-link scrollto" href="index.html#pricing">Book</a></li>
          <li><a class="nav-link scrollto" href="index.html#services">Author</a></li>
          <li><a class="nav-link scrollto" href="index.html#recent-blog-posts">Blog</a></li>
          <li><a class="nav-link scrollto" href="{% url 'personal_home' %}">Personal</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <a class="btn-getstarted scrollto" href="index.html#about">Register</a>

    </div>
  </header><!-- End Header -->

  <section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center position-relative" data-aos="zoom-out">
      <h2>Welcome to <span>HDN Library</span></h2>
      <div class="d-flex">
        <a href="#pricing" class="btn-get-started scrollto">Get Started</a>
        <a href="https://www.youtube.com/watch?v=4vIQON2fDWM" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
  </section>

  <main id="main">

    <!-- ======= Book Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Book</h2>
        </div>

        <div class="row gy-4">
          {% if booklist %}
          {% for item in booklist %}
          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-item">
              
              <div class="pricing-header">
                <h3>{{ item.name }}</h3>
              </div>

              <ul>
                <li><i class="bi bi-dot"></i> <span>Author : {{ item.author.name }}</span></li>
                <li><i class="bi bi-dot"></i> <span>Description:</span></li>
                <li><span>{{  item.description }}
                  </span></li>
                
              </ul>

              <div class="text-center mt-auto">
                <a href="{% url 'book-blog-detail' BookId=item.id %}" class="buy-btn">Xem chi tiết</a>
              </div>

            </div>
          </div><!-- End Pricing Item -->
          {% endfor %}
          {% endif %}
          <div style="margin-left: 1200px; color: blue;"><a href="/books/"><b>See more</b></a></div>
        </div>

      </div>
    </section><!-- End Book Section -->

    <!-- ======= Author Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Author</h2>
        </div>

        <div class="row gy-5">
          {%if author %}
          {% for item in author %}
          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="{% static item.image %}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-activity"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>{{item.name}}</h3>
                </a>
                <p>{{item.description}} </p>
              </div>
            </div>
          </div><!-- End Service Item -->
          {% endfor %}
          {% endif %}
          <div style="margin-left: 1200px; color: blue;"><a href="/author/"><b>See more</b></a></div>

        </div>
        </div>

     
    </section><!-- End Author Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Blog</h2>
          <p>Recent posts form our Blog</p>
        </div>

        <div class="row">
          {% for item in blogs  %}
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="post-box">
              <div class="post-img"><img src="{% static item.image %}" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-author">{{item.user.username}}</span>
              </div>
              <h3 class="post-title">{{item.title}}</p></h3>
              <a href="{% url 'blog-detail-home' blogId=item.id %}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

         {% endfor %}

        </div>


      </div>

    </section><!-- End Recent Blog Posts Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>HDN Library</h3>
              <p>
                DaNang University and Technology <br>
                54 Nguyen Luong Bang<br><br>
                <strong>Phone:</strong> 0769989258<br>
                <strong>Email:</strong> quochuyqh01@gmail.com<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://www.facebook.com/profile.php?id=100055855112419">Services</a></li>
            </ul>
          </div>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            &copy; Copyright <strong><span>HDNLibrary</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by HDN
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
        </div>

      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'book_user/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'book_user/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'book_user/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'book_user/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'book_user/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'book_user/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'book_user/js/main.js' %}"></script>

</body>

</html>